.floating-btn{
    width: 80px;
    height: 80px;
    background:  rgba(17, 8, 8, 0.74);
    display: flex !important;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50%;
    color: white;
    font-size: 40px !important;
    box-shadow: 12px 12px 12px rgba(0,0,0,0.25);
    position: fixed;
    right: 320px;
    bottom: 20px;
    transition: background 0.25s;
    /*button*/
    outline: blue;
    border: none;

}
.floating-btn:hover{
    background: #007d63;
}
div{
    text-align: justify;
    font-size: 20px;
}
h1{
    color:  #007d63;
}